/* Add here all your css styles (customizations) */
.preloader {
    position: absolute;

    background: white;
    background-image: url('../../Images/ajax_loader.gif');
    background-position: center center;
    background-repeat: no-repeat;
    width: 200px;
    opacity: 1;
    height: 200px;
    z-index: 1001;
}
.preloader-background {
    position: relative;
    background: white;
    color: white;

    z-index: 1000;
}