@using System.Web.Optimization


@using DataModel.Model
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div id="header">
    <div class="bg-overlay"></div>
    <div class="center text-center">
        <div class="banner">
            <h1 class="">RMS</h1>
        </div>
        <div class="subtitle">
            <h4>Restaurant reservation system</h4>
        </div>
    </div>
    <div class="bottom text-center">
        <a id="scrollDownArrow" href="#"><i class="fa fa-chevron-down"></i></a>
    </div>
</div>
<!-- /#header -->


<div id="Most" class="light-wrapper">
    <section class="ss-style-top"></section>
    <div class="container inner">
        <h2 class="section-title text-center">Most Popular</h2>
        <p class="lead main text-center">We're cooking delecious foods since 1879</p>

        <!-- Projects Row -->
        <div class="row" data-bind="foreach: Restaurants">
            <div class="col-md-4">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="#" data-bind="attr: { 'href': '@Url.Action("Detail", "Restaurant")?id=' + Id },
                        text:Name"></a>
                </h3>
                <p data-bind="text: Description"></p>
            </div>
        </div>

        <!-- /.Restaurants -->
    </div>
    <!-- /.container -->
</div>
<!-- #story -->

@section Scripts {
    @Scripts.Render("~/Scripts/ViewModel/IndexViewModel.js")
}