@model RMS.Client.Models.View.RestaurantLst

@{
    ViewBag.Title = "RestaurantList";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Restaurants</h1>
    </div>
    <!--/container-->
</div>

<div id="restaurants" style="min-height: 400px; "></div>


@section Scripts
{
    <script>
        require(["jquery",
                "Custom/EventTrigger",
                'toastr',
                "Widgets/restaurant/restaurantListCtrl/restaurantListCtrl"
        ],
            function ($) {
                var toastr = require('toastr');

                $(document).ready(function () {
                    var eventTrigger = new EventTrigger();
                    $("#restaurants").restaurantList();
                });
            });
    </script>
}
