@model RMS.Client.Models.View.RestaurantLst

@using System.Web.Optimization

@{
    ViewBag.Title = "RestaurantList";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
@section PageStyle
{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
}

<div class="container content-md">
    <!-- Blog All Posts -->
    <div class="col-md-9" data-bind="foreach: Restaurants">
        <!-- Restaurants-->
        <div class="row margin-bottom-20">
            @Html.DisplayFor(m => m.RestaurantModels)
        </div>
        <!--/end row-->
        <!-- End Restaurants-->

        <div class="clearfix margin-bottom-20">
            <hr>
        </div>

        <!-- Pager v3 -->
        <ul class="pager pager-v3 pager-sm no-margin-bottom">
            <li class="previous"><a href="#">&larr; Older</a></li>
            <li class="page-amount">1 of 7</li>
            <li class="next"><a href="#">Newer &rarr;</a></li>
        </ul>
        <!-- End Pager v3 -->
    </div>
    <!-- End Blog All Posts -->
</div>

@section Scripts {
}