@model RMS.Client.Models.View.ProfileModel

@{
    ViewBag.Title = "ProfilePage";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@section PageStyle
{
    <link rel="stylesheet" href="~/Content/Styles/pages/profile.css">
    <style>
        .content.profile {
            min-height: 500px;
        }
    </style>
}

<!--=== Profile ===-->
<div class="container-fluid content profile">
    <div class="ajax-wrapper">
        <div class="cssload-thecube ajax-loader">
            <div class="cssload-cube cssload-c1"></div>
            <div class="cssload-cube cssload-c2"></div>
            <div class="cssload-cube cssload-c4"></div>
            <div class="cssload-cube cssload-c3"></div>
        </div>
    </div>
</div>
<!--=== End Profile ===-->

@section Scripts
{
    <script>
        require(["jquery", "jquery-ui",
            "Widgets/PhotoCtrl/PhotoCtrl",
            'Widgets/userCtrl/userCtrl'], function ($) {
                $(document).ready(function () {
                    $('.content').user();
                });
            });
        $(document).ajaxStart(function () {
            $(".ajax-wrapper").show();
        });
        $(document).ajaxComplete(function () {
            $(".ajax-wrapper").hide();
        });
    </script>
}
