@model RMS.Client.Models.View.ProfileModel

@{
    ViewBag.Title = "ProfilePage";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@section PageStyle
{
    <link rel="stylesheet" href="~/Content/Styles/pages/profile.css">
    <style>
        .content.profile {
            min-height: 500px;
        }
    </style>
}

<!--=== Profile ===-->
<div class="container content profile">

</div>
<!--=== End Profile ===-->

@section Scripts
{
    <script>
        require(["jquery", "jquery-ui",
            "Widgets/PhotoCtrl/PhotoCtrl",
            'Widgets/userCtrl/userCtrl'], function ($) {
                $(document).ready(function () {
                    $('.content').user();
                });
            });
    </script>
}
