RMS.Client.Models.View.RestaurantModel (RMS.Client.Models.View)

@{
    Layout = null;
}

    <div class="row margin-bottom-20">
        <div class="col-sm-5 sm-margin-bottom-20">
            <img class="img-responsive" src="@Url.Content(Model.PhotoUrl)" alt="">
        </div>
        <div class="col-sm-7 news-v3s">
            <div class="news-v3-in-sm no-padding">
                <ul class="list-inline posted-info">
                    <li>
                        <span >
                            <i class="fa fa-star color-green"></i>
                        </span>
                    </li>
                    <li><i class="fa fa-comment-o"></i>
                        <span>@Model.CommentCount</span> reviews</li>
                    <li>
                          
                        <i class="fa fa-location-arrow"></i>
                        507 Calles Street
                        Austin, TX, 78702
                           
                    </li>
                </ul>
                <h2><a href="#" src="@Url.Action("RestaurantDetail", new{@Id = Model.Id})">@Model.Name</a></h2>
                <p data-bind="text: Description"></p>
            </div>
        </div>
    </div>
    