@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<div class="container" style="min-height: 410px;">
    <div class="col-xs-offset-4" style="margin-top: 80px">
        <div class="col-lg-7 col-sm-6">
            <div class="service-block service-block-sea service-or">
                <div class="service-bg"></div>
                <i class="icon-custom icon-color-light rounded-x fa fa-check"></i>
                <h2 class="heading-md">Your Payment was successful </h2>
                <p>Thank you for your payment. Your transaction has been completed.</p>
            </div>
        </div>
    </div>
</div>